.head {
  padding: 10px;
}

ul {
  margin: 0;
  padding: 10px;
}

table {
  border-collapse: collapse;
  margin: 10px;
}
td {
  border: 1px solid #666;
  margin: 0;
  padding: 5px;
}
.buy {
  background: green;
}
.sell {
  background: red;
}
.grey {
  background: #ccc;
}
